// Config

$main-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$yellow-color: #ffd00d;
$red-color: #ad343e;
$black-color: black;
$div-text-shadow: #86BBD8;
$game-status: aliceblue;
$btnOverlay-BLK: rgba(0, 0, 0, 0.95);
$btnOverlay-WHT: rgba(0, 0, 0, 0);
$logo-img: url('https://w0.peakpx.com/wallpaper/121/94/HD-wallpaper-one-piece-one-piece-anime.jpg');
