* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('https://w0.peakpx.com/wallpaper/121/94/HD-wallpaper-one-piece-one-piece-anime.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-image {
    margin-top: 20px;
    text-align: center;
}
.logo-image img{
    width: 350px;
}

h1{
    color: #ffd00d;
    margin-top: 10px;
    text-shadow: 2px 2px #ad343e;
}


/* Styles for Overlay Start Game */
.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

button{
    font-size: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffd00d;
    text-shadow: 3px 3px #ad343e;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 10px;
    padding: 20px;
}

.overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow{
    from{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to{
        background-color: rgba(0, 0, 0, 0.95);
        font-size: 10em;
    }
}


/* Styles for Game Points and Status */
aside {
    margin-top: 40px;
}

aside div{
    color: black;
    text-shadow: 1px 1px #86BBD8;
    display: inline-block;
    padding: 10px;
    padding-bottom: 0;
}

#game-status {
    color: aliceblue;
    background-color: #ad343e;
    text-shadow: 1px 1px black;
    margin-top: 20px;
    margin-bottom: 10px;
}



/* This is the styles for the Game Board and Elements within*/

/* Game Board */
.game-board {
    width: 800px;
    height: 800px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px; /* used for 3D transforms */
}

/* Card Styles */
.memory-card {
    /* sets the width and height of the cards using the calc() function to subtract margins */
    width: calc(20% - 15px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    /* transform sets intitial scale to 1, transform-style: preserve-3d allows for 3D transformations, transition to animate transform property */
    transform: scale(1), rotateY(0deg);
    transform-style: preserve-3d; 
    transition: transform .5s;
}

.front-face,
.back-face {
    /* width & height of img takes up 100% of the memory-card div */
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 8px;
    background-color: black;
    backface-visibility: hidden; /* ensures that the back face is not visible when the card is flipped */
}

.front-face{
    /* rotates so it becomes back-face of card */
    transform: rotateY(180deg);
}

/* Click animation */
.memory-card:active {
    /* scales down the card slightly */
    transform: scale(.97);
    /* creates visual feedback for click action */
    transition: transform .2s;
}

.memory-card.flip.flip-delay {
    /*transform: rotateY(180deg);*/
    transition-delay: .5s;
}

.memory-card.flip {
    /* reveals back-face */
    transform: rotateY(180deg);
}

