/* colors
    FDFFFC -- Jinbe's white
    AD343E -- Luffy's Red
    FF8C42 -- Nami's Orange
    33673B -- Zoro's Green
    E3B505 -- Usopp's Yellow
    4357AD -- Sanji's Blue
    F0A6CA -- Chopper's Pink
    A997DF -- Robin's Purple
    86BBD8 -- Franky's Light Blue

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    text-align: center;
    background-color: white;
}

h1{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

#game-board {
    width: 98%;
    height: 85vh;
    margin:auto;
    border: 2px solid #AD343E;
}
.memory-card{
    border: 2px solid yellow;
}

img{
    width: 20px;
}